<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta name="robots" content="noindex, nofollow">
  <link rel="shortcut icon" href="../static/image/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | SysVendas</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <div class="container-final">
    <div class="container-imagem">
      <img src="../static/image/Logo-Simplo1.png" alt="SIMPLo - Manuais Técnicos Automotivos" class="logo">
    </div>

    <div class="container-campo">
      <div class="login-box">
        <h2 class="titulo">SysVendas</h2>
        <form id="login-form" method="post">
          <label for="usuario">Usuário:</label>
          <input type="text" id="usuario" name="usuario" required>

          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" required>

          <button type="submit">Acessar</button>
        </form>
      </div>
    </div>
  </div>
    <script src="../static/js/index.js"></script>
</body>
</html>
